.btn{
    padding: 10px 100px;
    border:  solid $quick-silver;
    border-width: thin;
    border-radius: 50px;
    .btn__text{
        font-size: $normal;
        font-weight: 700;
        color: $granite-gray;
        padding: 0;
        margin: 0;
    }
}