//Color Schemes
//First color scheme

//Second color scheme


//Third color scheme


//Fourth color scheme


// Typography
//Font Families

// Typography
// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Typography
// Font Sizes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;