.article {
    padding: 100px 0;

    // gives color to one specific article
    &.article--gray {
        background-color: $taupe-gray;
    }
    
    .article__container {
        padding: 0 9vw;

        .article__img {
            object-fit: cover;
            border-radius: 10px;

            &.article__img--photo {
                width: 400px;
            }
        }

        .article__container__text {
            padding: 0 18vw;
            // special text styling
            &.article__container__text--snow {
                color: $snow;
            }
            // special text styling
            &.article__container__text--gray {
                color: $granite-gray;
            }

            .article__title {
                margin: 25px 0;
                font-size: 45px;
                font-weight: 700;
            }
            // Only this element is aligned to the left
            .article__paragraph {
                text-align: left;
            }
        }
    }
}