.header{
    color: $snow;
    background-color: $jelly-bean;
    height: 100vh;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__title{
    font-size: $x-large;
    font-weight: $bold;
    &.header__title--extra-light{
        font-weight: $extra-light;
    }
}