.section{
    background-color: $jelly-bean;
    height: 250px;
    .section__container{
        @include flex-container;
        .section__title{
            color: $snow;
            font-weight: 700;
            font-size: $large;
        }
    }
}